body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.margin-tb {
    margin-top: 3px;
    margin-bottom: 3px;
} 

.nopadding-left {
    padding-left: 0 !important;
    margin-left: 0 !important;
 }
 
.base-color {
    background-color: #3a72bc !important;
    border-color: #3a72bc!important;
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 0;
	background-clip: padding-box;
    }
    
